.SpinnerPanel {
  &__layout {
    pointer-events: none;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__group {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    & .vkuiGroup__inner {
      flex: 1 0 auto;
    }
  }
}
